div.amazingcustom{
    width: 100%;
    height: 465px;
    margin-top: 45px;
}

div.amazingcustom>div.amazingcustom-container{
    width: 86%;
    height: inherit;
    background-color: white;
    margin: 0 auto;
    font-family: yekan;
    border: 1px solid rgba(185, 183, 183, 0.493);
    border-radius: 8px;
    overflow: hidden;
}

div.amazingcustom>div.amazingcustom-container>div.title{
    width: 100%;
    height: 16%;
}

div.amazingcustom>div.amazingcustom-container>div.title>div.headtitle{
    width: inherit;
    height: 100%;
    color: #ff009c;
    padding-top: 20px;
    padding-right: 30px;
    font-size: 14px;
}

div.amazingcustom>div.amazingcustom-container div.card{
    width: 100%;
    height: 100%;
    display: inline-block;
    text-align: right;
    overflow: hidden;
    border-right: 1px solid rgba(185, 183, 183, 0.247);
    border-bottom: 1px solid rgba(185, 183, 183, 0.247);
    border-collapse: collapse;
    margin: -2px;
    
}


div.amazingcustom>div.amazingcustom-container div.card>a>div.image{
    width: 100%;
    height: 150px;
}

div.amazingcustom>div.amazingcustom-container div.card>a>div.image>img{
    width: 150px;
    height: inherit;
    object-fit: cover;
    margin: 0 auto;
}

div.amazingcustom>div.amazingcustom-container div.card>a>div.description{
    width: 100%;
    height: 180px;
}

div.amazingcustom>div.amazingcustom-container div.card>a>div.description>div.title{
    width: 100%;
    height: 36px;
    color: #3f4064;
    margin: 12px 8px 0 0;
}

div.amazingcustom>div.amazingcustom-container div.card>a>div.description>div.term{
    width: 100%;
    height: 22px;
    vertical-align: middle;
    margin-right: 8px;
}

div.amazingcustom>div.amazingcustom-container div.card>a>div.description>div.term>span{
    font-size: 12px;
    color: #6a6c87;
}

div.amazingcustom>div.amazingcustom-container div.card>a>div.description>div.price{
    width: 100%;
    height: 65px;
    margin-top: 12px;
    text-align: left;
    position: relative;
    
}


div.amazingcustom>div.amazingcustom-container div.card>a>div.description>div.price>div.offprice{
   margin-left: 8px;
   color: #3f4064;
}

div.amazingcustom>div.amazingcustom-container div.card>a>div.description>div.price>div.discount>span{
    width: 30px;
    background-color: #ef394e ;
    position: absolute;
    right: 12px;
    top: 2px;
    font-size: 12px;
    border-radius: 20px;
    color: white;
    padding: 2px;
    text-align: center;

    
}

div.amazingcustom>div.amazingcustom-container div.card>a>div.description>div.price>div.realprice>p{
    margin-left: 35px;
    margin-top: 8px;
    font-size: 12px;
    color: #c3c3ce;
    text-decoration: line-through;
}

div.amazingcustom>div.amazingcustom-container div.card>a>div.description>div.duration{
    width: 100%;
    height: 20px;
    text-align: left;
}

div.amazingcustom>div.amazingcustom-container div.card>a>div.description>div.duration>p{
    font-size: 14px;
    margin-left: 8px;
    color: #ef394e;
}